div.header-introducing
  div.header-introducing__text.header-main-part
    img.header-main-part__fav-ico(src='./img/fav-ico.svg' alt='fav icon')
    h3.header-main-part__subtitle бэбиблог
    h1.header-main-part__title зачатие
    p.header-main-part__description Всё о естественном планировании беременности, репродуктологии, бесплодии и процедурах ЭКО
  div.header-introducing__links-block.links-block
    a.links-block__link(href='#') Зачатие
    a.links-block__link(href='#') Бесплодие
    a.links-block__link(href='#') Всё об ЭКО
    a.links-block__link(href='#') Вопросы
