section.block-wrap
    div.conversation-block.block-1
        div.societies
            h4.societies__title Сообщества
            a.societies__view-all(href='#') Посмотреть все
            div.societies__threads
                a.thread(href='#') Зачатие
                    img.thread-img(src='./img/threads-ava-img-1.svg' alt='thread img')
                a.thread(href='#') График базальной температуры
                    img.thread-img(src='./img/threads-ava-img-2.svg' alt='thread img')
                a.thread(href='#') Где же ты, наш малыш?
                    img.thread-img(src='./img/threads-ava-img-3.svg' alt='thread img')
                a.thread(href='#') ЭКО-МАМА (сокровенное)
                    img.thread-img(src='./img/threads-ava-img-4.svg' alt='thread img')
                a.thread(href='#') Планирование 40+
                    img.thread-img(src='./img/threads-ava-img-5.svg' alt='thread img')
        div.consultations
            h4.consultations__title Консультации
            a.consultations__view-all(href='#') Посмотреть все
            div.consultations__threads
                a.thread(href='#') Неврология у взрослых
                    img.thread-img(src='./img/threads-ava-img-6.svg' alt='thread img')
                    span.answers-count 150 ответов
                a.thread(href='#') Гинеколог-эндокринолог
                    img.thread-img(src='./img/threads-ava-img-7.svg' alt='thread img')
                    span.answers-count 71 ответ
                a.thread(href='#') Гинеколог-хирург
                    img.thread-img(src='./img/threads-ava-img-8.svg' alt='thread img')
                    span.answers-count 253 ответа
        div.services
            h4.services__title Сервисы
            div.services__threads
                a.thread(href='#') Графики базальной температуры
                a.thread(href='#') Калькулятор овуляции
    div.conversation-block.block-2
        div.consultation-advertising
            img.consultation-advertising__img(src='./img/consultation-block-img.svg' alt='consultation image')
            h4.consultation-advertising__title Консультация
            h3.consultation-advertising__name-of-service Гинекология детского и подросткового возраста
            p.consultation-advertising__description Сибирская Елена Викторовна — главный внештатный гинеколог детского и подросткового возраста г.Москвы
    div.conversation-block.block-3
        div.conversation-block__header.cb-header
            h2.cb-header__title Вопрос-ответ
            a.cb-header__button(href='#') Задать вопрос
        div.question-answer-post
            a.question-answer-post__title(href='#') Как лечат эрозию и ВПЧ 16 типа?
            p.question-answer-post__description Девочки у кого был впч 16 типа + эрозия? как лечение ваше проходило? и на сколько долго? мне прописали уколы...
            div.question-answer-post__answers-info
                span.answers-count 105 ответов
                div.last-answer
                    img.avatar(src='./img/qa-small-avatar.svg' alt='avatar')
                    span.time 5 минут назад
        div.question-answer-post
            a.question-answer-post__title(href='#') Цикл
            p.question-answer-post__description Здравствуйте, мамы! Вопрос такой, когда после родов к Вам пришли женские "друзья". И когда нормализовался...
            div.question-answer-post__answers-info
                span.answers-count 21 ответ
                div.last-answer
                    img.avatar(src='./img/qa-small-avatar.svg' alt='avatar')
                    span.time 5 минут назад
        div.question-answer-post
            a.question-answer-post__title(href='#') Последствие Постирона? Или ранняя овуляция?
            p.question-answer-post__description Девочки,ситуация такая, была беременна, сделала аборт год назад в 6 недель. Сейчас живу с МЧ, цикл...
            div.question-answer-post__answers-info
                span.answers-count 103 ответа
                div.last-answer
                    //img.avatar(src='./img/qa-small-avatar.svg' alt='avatar')
                    span.time 5 минут назад
        div.question-answer-post
            a.question-answer-post__title(href='#') Ангиовит + дюфастон + курантил
            p.question-answer-post__description Врач дала нам 3-4 месяца на естественное зачатие. Гормоны низкие боится что пролетим. Кто быстро...
            div.question-answer-post__answers-info
                span.answers-count 66 ответов
            //    div.last-answer
            //        img.avatar(src='./img/qa-small-avatar.svg' alt='avatar')
            //        span.time 5 минут назад
        div.question-answer-post
            a.question-answer-post__title(href='#') Цикл
            p.question-answer-post__description Здравствуйте, мамы! Вопрос такой, когда после родов к Вам пришли женские "друзья". И когда нормализовался...
            div.question-answer-post__answers-info
                span.answers-count 105 ответов
                div.last-answer
                    img.avatar(src='./img/qa-small-avatar.svg' alt='avatar')
                    span.time 5 минут назад
        a.show-all-results(href='#') Посмотреть все вопросы
