doctype html
html(lang='ru')
    - var pathToImg = 'img/'
    head
      include ../blocks/head/head
    body
      .advertising228 РЕКЛАМА
      .main-part
        include ../blocks/navigation/navigation
        .content_wrapper
          .header
            include ../blocks/header/header
            include ../blocks/theme-header/theme-header
          include ../blocks/info-blocks/info-blocks
          include ../blocks/slider/slider
          include ../blocks/conversations/conversation
          include ../blocks/map/map
          include ../blocks/birth-stories/birth-stories
          include ../blocks/banner/banner
          include ../blocks/footer/footer
      script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&;sensor=false")
      //script(async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap")
      script(src='scripts/main.js')
