section.footer
  div.footer__menu
    a.link(href='#') О проекте
    a.link(href='#') Реклама на сайте
    a.link(href='#') Соглашение с пользователями
    a.link(href='#') Правообладателям
    a.link(href='#') Помощь
  div.footer__other-content
    span 16+
    p.about
      | Бэбиблог — сайт о беременности и материнстве. Дневники беременности и развития детей, календарь беременности, отзывы о товарах, роддома, а также множество других полезных разделов и сервисов. © 2005—2019
    img.metrica(src='../img/metrica-fake-img.svg' alt='metrica')
