section.birth-stories
  h3.bs Истории рождения 👶 🎈
  div.block
    div.block__header
      div.author Александра Нечаева
        img.avatar(src='./img/qa-small-avatar.svg' alt='avatar')
      span.post-date Вчера
      img.additional-actions(src='/img/dots-ico.svg' alt='dots icon')
    div.block__text
      a.title(href='#') Третьи роды, или как я не успела ничего понять
      p.description Всем привет. Моя история в копилку про то, что третьи роды - это ооочень быстро. Хотя я сама почему-то наивно думала, что у меня-то все будет плавно, постепенно и по плану...
    div.block__icons.icons
      button.icons__elem.icons__elem--like 25
      button.icons__elem.icons__elem--answers 427
      button.icons__elem.icons__elem--share 12
  div.block
    div.block__header
      div.author Александра Нечаева
        img.avatar(src='./img/qa-small-avatar.svg' alt='avatar')
      span.post-date Вчера
      img.additional-actions(src='/img/dots-ico.svg' alt='dots icon')
    div.block__text
      a.title(href='#') Третьи роды, или как я не успела ничего понять
      p.description Всем привет. Моя история в копилку про то, что третьи роды - это ооочень быстро. Хотя я сама почему-то наивно думала, что у меня-то все будет плавно, постепенно и по плану...
    div.block__icons.icons
      span.icons__elem.icons__elem--like 25
      span.icons__elem.icons__elem--answers 427
      span.icons__elem.icons__elem--share 12
  div.block
    div.block__header
      div.author Александра Нечаева
        img.avatar(src='./img/qa-small-avatar.svg' alt='avatar')
      span.post-date Вчера
      img.additional-actions(src='/img/dots-ico.svg' alt='dots icon')
    div.block__text
      a.title(href='#') Третьи роды, или как я не успела ничего понять
      p.description Всем привет. Моя история в копилку про то, что третьи роды - это ооочень быстро. Хотя я сама почему-то наивно думала, что у меня-то все будет плавно, постепенно и по плану...
    div.block__icons.icons
      span.icons__elem.icons__elem--like 25
      span.icons__elem.icons__elem--answers 427
      span.icons__elem.icons__elem--share 12
  div.block
    div.block__header
      div.author Александра Нечаева
        img.avatar(src='./img/qa-small-avatar.svg' alt='avatar')
      span.post-date Вчера
      img.additional-actions(src='/img/dots-ico.svg' alt='dots icon')
    div.block__text
      a.title(href='#') Третьи роды, или как я не успела ничего понять
      p.description Всем привет. Моя история в копилку про то, что третьи роды - это ооочень быстро. Хотя я сама почему-то наивно думала, что у меня-то все будет плавно, постепенно и по плану...
    div.block__icons.icons
      span.icons__elem.icons__elem--like 25
      span.icons__elem.icons__elem--answers 427
      span.icons__elem.icons__elem--share 12
  a.show-all-results(href='') Ещё истории
